/* Estilos para el fondo y el layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* Estilos para el cuadro de inicio de sesión */
.login-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

/* Estilos para el logotipo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 80px;
}

/* Estilos para el título */
h2 {
    color: white;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

/* Estilos para el botón de inicio de sesión */
.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para el texto y el enlace de registro */
.register-text {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #4caf50;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}